* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --color-white: rgba(220, 218, 218);
    --color-background: rgba(16, 16, 16)
}

body {
    font-family: 'Ubuntu', sans-serif;
}